*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/assets/about\ wallpaper.jpg);
    background-size: 110%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, h3{
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}
header{
    background-color: #950101;
    height: 5vh;
    width:100%;
    padding-top: 1vh;
    position:fixed;
}
header a{
    text-decoration: none;
    color:inherit;
    font-size: 1.3rem;
    justify-content: space-between;
    padding:14px 16px;
    margin-left: 13%;
    }
.topnav{
    font-size: 17px;
    letter-spacing: 2px;
}
main{
    padding: 0 1 auto;
    height: 100vh;
    padding-top:3vh;
}
.active{
    text-decoration: underline;
}
/* IDs*/
#about-title{
    margin-top: 2vh;
    margin-left: 63vw;
    font-size: 360%;
    text-align: center;
}
#about-text{
    margin-top: 2vh;
    margin-left: 63vw;
    font-family: "News Cycle", sans-serif;
    font-size: 100%;
    font-weight: 600;
    text-align: left;
    padding-right: 2%;
}
footer{
    background-color: #950101;
    height: 4vh;
}