*{
    padding: 0;
    margin:0;
    box-sizing: border-box; 
}
body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background-image: url(gym\ wallpaper.jpg);
    background-size: 110%;
}
h1, h2, h3{
    text-transform: uppercase;
    font-family: "Lato Static", sans-serif;
}
header{
    background-color: #950101;
    height: 5vh;
    width:100%;
    padding-top: 1vh;
    position: fixed;
}
header a{
    text-decoration: none;
    color:inherit;
    font-size:1.3rem;
    justify-content:space-between;
    padding: 14px 16px;
    margin-left: 13%;

}
.topnav{
        font-size: 17px;
        letter-spacing:2px;
}
.active{
    text-decoration: underline;
}
main{
    padding: 0 1 auto;
    height: 100vh;
    padding-top: 3vh;
}
#test{
    padding-top: 5vh;
}
img{
    height:60%;

}
p{
    font-family: "News Cycle," sans-serif;
}

/* IDs*/
#gym-title{
    text-align: center;
    margin-left:30%;
    margin-right: 30%;
    padding-top: 2%;
    font-size: 500%;
    font-family: "Lato Static", sans-serif;
    color: azure;
}
#slogan{
    text-align: center;
    font-size: 20px;
}
  

footer {
    background-color: #950101;
     height: 4vh;
  }
  