*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
header{
    background-color: #950101;
    box-shadow: 0 2px 2px #080808;

    z-index: 1;
}
main{
    z-index: 99;
    background-color: #3a3a3a;
}
footer{
        background-color: #950101;
        box-shadow: 0 -2px 16px #000000;

}