*{
    padding: 0;
    margin:0;
    box-sizing: border-box; 
}
body{
    background-color: #3a3a3a;
}
h1, h2, h3{
    text-transform: uppercase;
    font-family: "Lato Static", sans-serif;
}
header{
    background-color: #950101;
    box-shadow: 0 0 8px 4px #000000;
    color: #ffffff;
    height: 6vh;
    padding-top: 7px;
}
header a{
    text-decoration: none;
    color: inherit;
}
#menu{
    letter-spacing: 4px;
    justify-content:space-around;
    font-size: 100%;
    list-style-type: none;
    display: flex;
    align-items: baseline;
}
menu > li {
    margin-bottom: 1em;
}
main{
    font-family: "Lato Static", sans-serif;

}
#gym-title{
    text-align: center;
    margin-left:30%;
    margin-right: 30%;
    padding-top: 2%;
    font-size: 300%;

}

footer{

}