/* 
Lato font for titles 
News Cycle for rest of text
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=News+Cycle:wght@400;700&family=Oswald:wght@200..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    background-size: 100px;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-family: "Lato Static", sans-serif;
}

header {
    background-color: #950101;
    width: 100%;
    padding: 0.6rem 1rem;
    position: fixed;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    justify-content: space-between;
    padding: 14px 16px;
    margin-left: 13%;
    font-family: "News Cycle", sans-serif;
}

.topnav {
    font-size: 17px;
    letter-spacing: 2px;

}

main {
    padding: 0 1 auto;
    padding-top: 3vh;
    flex: 1;
}

img {
    height: 60%;

}

p {
    font-family: "News Cycle," sans-serif;
}
video{
    width: 50%;
}

button {
    font-size: 140%;
}
.white{
    color: white;
}
.center{
    text-align: center;
    margin: 0 auto;
}

/* IDs*/

#slogan {
    font-size: 200%;
    color: rgb(255, 255, 255);
}

#about-text {
    font-size: 120%;
    color: white;
    display: inline-block;
    font-family: "News Cycle", sans-serif;
    width: 70%;
}


/* CLASSES */

#main-title {
    padding-top: 2%;
    font-size: 500%;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
}

#about-title {
    text-decoration: underline;
    padding-top: 2%;
    margin-top: 2%;
    font-size: 250%;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
}


/* ABOUT SECTION */

/* GALLERY SECTION */
#gallery-title {
    text-decoration: underline;
    padding-top: 2%;
    margin-top: 2%;
    font-size: 250%;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
}

#image-block {
    size: 10px;
    align-items: stretch;
    margin-top: 2%;

}

/* SIGN UP SECTION */

#signup-title {
    text-decoration: underline;
    padding-top: 2%;
    margin-top: 2%;
    font-size: 250%;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
}


form {
    font-size: 135%;
    color: white;
    font-family: "News Cycle", sans-serif;
    border-style:groove;
    border-color: white;
}


/* FOOTER SECTION */
footer {
    background-color: #950101;
    text-align: center;
    height: auto;
    display: flex;
}
footer p{
    color: white;
    padding: 1rem;
}

#social-media {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}



@media(max-width:500px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header {
        width: 100%;
    }

    header a {
        justify-content: space-between;
        padding: 2px 2px;
        margin-left: 18px;
    }

    body {
        padding: 0 1 auto;
        height: 100%;
        width: 100%;
        margin-left: 1px;

    }

    main {
        background-image: url(/assets/gym\ wallpaper.jpg);
        width: fit-content;
    }

    /* IDs */
    #gym-title {
        text-align: center;
        font-size: 500%;
        margin-left: 1vw;
        color: rgb(255, 255, 255);
    }

    #slogan {
        font-size: 160%;
        margin-left: 1vw;
        text-align: center;
        color: rgb(255, 255, 255);

    }

    #text-one {
        margin-left: 2vw;
        padding-right: 1vw;
        font-size: 130%;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

@media(max-width: 850px) {
    body {
        background-size: 250%;
        background-position: 20%;


    }
}

@media(min-width: 1100px) {
    body {
        background-size: 190%;
        background-position: 5%;
    }

    img {
        height: 40%;

    }

}